.confidence{
  margin-top: calc(80 / 1920 * 100vw);
  margin-bottom: calc(100 / 1920 * 100vw);
  min-height: calc(610 / 1920 * 100vw);
  justify-content: space-between;
  > hr {
    width: 100%;
  }
  &__block{
    width: calc(1059 / 1920 * 100vw);
    @include media-xl{
      width: calc(1410 / 1920 * 100vw);
    }
    @include media-xl{
      flex-wrap: wrap;
    }
    min-height: calc(255 / 1920 * 100vw);
    display: flex;
    justify-content: space-between;
  }
  &__text{
    margin-top: calc(10 / 1920 * 100vw);
    width: calc(470 / 1920 * 100vw);
    @include media-xl{
      width: calc(700 / 1920 * 100vw);
    }
    @include media-xl{
      width: 100%;
    }
    min-height: calc(170 / 1920 * 100vw);
  }
  &__list{
    width: calc(440 / 1920 * 100vw);
    @include media-xl{
      width: calc(670 / 1920 * 100vw);
    }
    @include media-xl{
      width: 100%;
    }
    min-height: calc(225 / 1920 * 100vw);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin: 0;
  }
  &__item{
    list-style: none;
    display: flex;
    > img{
      margin-right: calc(30 / 1920 * 100vw);
    }
  }
}