.directions-principles{
  margin: calc(50 / 1920 * 100vw) calc(375 / 1920 * 100vw - 100px) calc(-110 / 1920 * 100vw) calc(375 / 1920 * 100vw - 100px);
  @include media-xl{
    margin: calc(50 / 1920 * 100vw) calc(200 / 1920 * 100vw - 100px) calc(-110 / 1920 * 100vw) calc(200 / 1920 * 100vw - 100px);
  }
  @include media-md{
    margin: calc(50 / 1920 * 100vw) calc(200 / 1920 * 100vw - 50px) calc(-110 / 1920 * 100vw) calc(200 / 1920 * 100vw - 50px);
  }
  &__content{
    display: flex;
    margin: 0 100px calc(60 / 1920 * 100vw) 100px;
    @include media-md{
      margin: 0 50px calc(60 / 1920 * 100vw) 50px;
    }
    justify-content: space-between;
    > h2{
      width: calc(370 / 1920 * 100vw);
      min-height: calc(80 / 1920 * 100vw);
      @include media-xl{
        width: calc(500 / 1920 * 100vw);
      }
    }
    > p{
      width: calc(770 / 1920 * 100vw);
      min-height: calc(200 / 1920 * 100vw);
      @include media-xl{
        width: calc(1000 / 1920 * 100vw);
      }
    }
  }
  &__slider{
    display: flex;
    align-items: center;
    > button{
      width: 100px;
      height: 100px;
      @include media-md{
        height: 50px;
        width: 50px;
      }
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;
      background: none;
    }
  }
  &__slide{
    height: calc(560 / 1920 * 100vw);
    width: calc(1170 / 1920 * 100vw);
    @include media-xl{
      height: calc(560 * 1520 / 1170 / 1920 * 100vw);
      width: calc(1520 / 1920 * 100vw);
    }
    background: white;
    overflow: hidden;
    position: relative;
  }
  &__slides{
    height: calc(560 / 1920 * 100vw);
    display: flex;
    position: absolute;
    left: 0px;
    top: 0px;
    > img {
      width: calc(1170 / 1920 * 100vw);
      @include media-xl{
        height: calc(560 * 1520 / 1170 / 1920 * 100vw);
        width: calc(1520 / 1920 * 100vw);
      }
    }
  }
}