.footer{
  margin-bottom: 0;
  min-height: calc(650 / 1920 * 100vw);
  justify-content: space-between;
  @include media-xl{
    justify-content: flex-start;
  }
  &__block_1{
    width: calc(270 / 1920 * 100vw);
    min-height: calc(410 / 1920 * 100vw);
    @include media-xl{
      min-width: calc(270 / 1920 * 100vw);
      order: 1;
      width: auto;
    }
    > h5{
      margin-bottom: calc(70 / 1920 * 100vw);
    }
   
  }
  &__social-network{
    margin-top: calc(60 / 1920 * 100vw);
    margin-bottom: calc(35 / 1920 * 100vw);
    display: flex;
    justify-content: space-between;
    > img{
      cursor: pointer;
    }
  }
  &__block_2{
    width: 670px;
    @include media-xl{
      order: 3;
    }
    
    min-height: calc(505 / 1920 * 100vw);
    margin-top: calc(35 / 1920 * 100vw);
    > hr{
      width: 100%;
      margin-top: 0;
    }
  }
  &__contacts{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 460px;
    @include media-xl{
      height: 690px;
    }
  }
  &__contact{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    > h2{
      font-family: 'Commissioner', sans-serif;
      font-size: 14px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.75);
      margin-bottom: 15px;
      padding: 0;
    }
  }
  &__h{
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: rgba(0, 0, 0, 0.5);
  }
  &__block_3{
    width: calc(170 / 1920 * 100vw);
    min-height: calc(335 / 1920 * 100vw);
    margin-top: calc(35 / 1920 * 100vw);
    @include media-xl{
    min-width: calc(170 / 1920 * 100vw);
    width: auto;
      order: 2;
    }
    > hr{
      width: 100%;
      
      margin-top: 0;
    }
  }
}