.header{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  &_row{
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &_second{
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
  &__eye{
    border: none;
    background: none;
    width: 35px;
    height: 35px;
    margin-left: 431px;
    padding: 0;
  }
  &__select{
    display: flex;
    justify-content: space-between;
    align-items: center;
    > p {
      margin-bottom: 0;
      margin-right: 13px;
    }
  }
  &__contacts{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__icons{
    > img{
      margin-right: 5px;
      margin-left: 5px;
    }
  }
  &__list{
    display: flex;
    width: 739px;
    height: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 0;
  }
  &__item{
    list-style: none;
    > a{
      text-decoration: none;
      font-family: 'Commissioner', sans-serif;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.75);
    }
  }
}