.introduction{
  justify-content: space-between;
  background: #FFFFFF;
  &__image{
    width: 500px;
    height: auto;
  }
  &__col{
    margin-top: 50px;
    margin-left: 70px;
    > h2{
      width: 540px;
      margin-bottom: 30px;
    }
    > p{
      width: 470px;
      height: 425px;
    }
  }
}