.reviews{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(740 / 1920 * 100vw);
  margin-top: calc(210 / 1920 * 100vw);
  &__slider{
    width: 100%;
    min-height: calc(585 / 1920 * 100vw);
    position: relative;
  }
  &__slides{
    position: relative;
    left:calc(-15 / 1920 * 100vw);
    min-height: calc(585 / 1920 * 100vw);
    top: 0px;
    display: flex;
    overflow: hidden;
  }
  &__slide{
    width: calc(570 / 1920 * 100vw);
    @include media-xl{
      width: calc(745 / 1920 * 100vw);
    }
    @include media-lg{
      width: calc(1520 / 1920 * 100vw);
      // margin: 0;
    }
    min-height: calc(585 / 1920 * 100vw);
    margin: 0 calc(15 / 1920 * 100vw);
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    &__content{
      @include media-lg{
        width: calc(1420 / 1920 * 100vw);
        // margin: 0;
      }
      margin: calc(40 / 1920 * 100vw) calc(50 / 1920 * 100vw) calc(65 / 1920 * 100vw) calc(50 / 1920 * 100vw);
    }
  }
  &__footer{
    display: flex;
    margin-top: calc(20 / 1920 * 100vw);
    justify-content: space-between;
    align-items: center;
  }
  &__pages{
    display: flex;
    margin-right: calc(120 / 1920 * 100vw);
  }
  &__page{
    cursor: pointer;
    list-style: none;
    margin: calc(5 / 1920 * 100vw);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.1);
    &_active{
      background: #DEC377;
    }
  }
  &__chevron{
    width: 120px;
    height: 60px;
    display: flex;
    > button{
      width: 60px;
      height: 100%;
      border: none;
      background: none;
    }
  }
}