.triangle{
  margin-top: calc(80 / 1920 * 100vw);
  margin-bottom: calc(70 / 1920 * 100vw);
  position: relative;
  &__coner{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
  }
  &__content{
    
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-height: calc(520 / 1920 * 100vw);
    
    :nth-child(3){
      display: flex;
      width: 100%;
      min-height: calc(185 / 1920 * 100vw);
      padding: calc(35 / 1920 * 100vw) calc(50 / 1920 * 100vw) calc(45 / 1920 * 100vw) calc(50 / 1920 * 100vw);
      > h4{
        width: calc(490 / 1920 * 100vw);
      }
      > p{
        width: calc(900 / 1920 * 100vw);
      }
    }
  }
  &__card{
    width: calc(570 / 1920 * 100vw);
    @include media-xl{
      width: calc(745 / 1920 * 100vw);
    }
    min-height: calc(305 / 1920 * 100vw);
    background: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05);
    padding: calc(40 / 1920 * 100vw)calc(50 / 1920 * 100vw)calc(55 / 1920 * 100vw)calc(50 / 1920 * 100vw);
    margin-bottom: calc(30 / 1920 * 100vw);
  }
}
.picture_2{
  > img{
    width: 100vw;
  }
}