@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner&family=Lato&family=Source+Sans+Pro&display=swap');

body{
  font-family: 'Lato', sans-serif;
  background-color: #dfdfdf;
}
.container{
  max-width: 1920px;
  background: #F2F2F2;
  > hr{
    width: 100%;
    margin: 0;
  }
}
.row{
  margin: calc(50 / 1920 * 100% ) calc(375 / 1920 * 100% );
  @include media-xl{
    margin: calc(50 / 1920 * 100% ) calc(200 / 1920 * 100% );
  }
}
.col{
  padding: 0;
}
.wrapper_white{
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
}