.select{
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
}

h1, .h2, h3, .h4, .h5{
  font-family: 'Commissioner', sans-serif;
  font-style: normal;
  font-weight: normal;
  color: rgba(0, 0, 0, 0.9)
}

.h1{
font-size: 40px;
line-height: 50px;
letter-spacing: 0.01em;
}

.h2{
  font-size: 28px;
  line-height: 40px;
  letter-spacing: 0.03em;
  
}
.h3{
  font-weight: bold;
  font-size: 26px;
  line-height: 40px;
  letter-spacing: 0.01em;
  color: #DEC377;
}

.h4{
  font-size: 26px;
  line-height: 45px;
}

.h5{
  font-size: 20px;
  line-height: 30px;
}
.collaboration__form > input::placeholder,
.main_text{
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 25px;
  color: rgba(0, 0, 0, 0.8);
}

.secondary_text{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.8);
}

.overline{
  width: 140px;
  height: 20px;
  font-family: 'Commissioner', sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.5);
  flex: none;
  order: 0;
  align-self: center;
  flex-grow: 0;
  margin: 0px 10px ;
}
.subtitle{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 30px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.75);
}
.subtitle_2{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.02em;
  color: rgba(0, 0, 0, 0.75);
}
.caption{
  font-family: 'Commissioner', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.01em;
  color: rgba(0, 0, 0, 0.9);
  // margin-right: 15px;
  // margin-top: 20px;
}
.additional_text{
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.5);
  padding: 0;
  margin: 0;
}
.email{
  font-family: 'Commissioner', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 20px;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 5px;
  margin-bottom: 20px;
}